#box1{
    background-color: black;
    margin: 20px;
    border: 4px red solid;
    color: white;
    padding: 20px;
    
}

#box2{
    background-color: blue;
}

.box{
    width: 150px;
    height: 150px;
    box-sizing: border-box;
}